/* ====== FONT IMPORTS ====== */

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,800';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow';
@font-face {
  font-family: 'Cooper Hewitt Light';
	src:url('/app/fonts/CooperHewitt-Light.eot'); /* IE9 Compat Modes */
  src:
    url('/app/fonts/CooperHewitt-Light') format('woff'),/* Pretty Modern Browsers */
		url('/app/fonts/CooperHewitt-Light.svg') format('svg'); /* Legacy iOS */
}

/* ======= RESETS =======*/

html, body, div,
h1, h2, p,
a, em, img, ol, ul, li,
figure {

	margin: 0;
	padding: 0;
	border: 0;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start:0;
		-webkit-margin-end: 0;
		-webkit-padding-start: 0;
	vertical-align: baseline;
}

/* Universal Box Sizing with Inheritance */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;

}

/*==== RESPONSIVE TYPOGRAPHY ====*/

  /*body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
  }*/

  body {
		font-family: 'PT Sans Narrow', sans-serif;
    /* equivalent to 16px */
	  font-size: 100%;
		height:auto;
		line-height:1;
  }

    @media (min-width: 43.75em) {
    body {
        font-size: 1em;
        /* equivalent to 16px */
        line-height: 1.375;
        /* equivalent to 22px */
      }
    }

      @media (min-width: 56.25em) {
        p {
          font-size: 1.5em;
          /* equivalent to 16px */
          line-height: 1.2;
          /* equivalent to 22px */
        }
      }

  h1 {
		font-family: 'Open Sans', sans-serif;
    font-size: 2.25em;
    /* 2x body copy size = 32px */
		font-weight: 800;
    line-height: 1.1;
    margin-bottom: 6%;
    /* 45px / 36px */
  }

  @media (min-width: 43.75em) {
    h1 {
      font-size: 2.5em;
      /* 2.5x body copy size = 40px */
      line-height: 1.125;
    }
  }

  @media (min-width: 56.25em) {
    h1 {
      font-size: 4.5em;
      /* 3x body copy size = 48px */
      line-height: 1.05;
      /* keep to a multiple of the 20px line height and something more appropriate for display headings */
    }
  }

    @media (min-width: 88.187em) {
      h1 {
        font-size: 6em;
        /* 3x body copy size = 48px */
        line-height: 1.05;
        /* keep to a multiple of the 20px line height and something more appropriate for display headings */
      }
  }

  h2 {
    bottom: -.35em;
    color:#B3B4B5;
		font-family: 'Cooper Hewitt Light', sans-serif;
    font-size: 1.2em;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
    position: relative;
		text-transform: uppercase;

  }

  @media (min-width: 43.75em) {
    h2 {
      font-size: 2em;
      /* 2x body copy size = 32px */
      line-height: 1.25;

    }
  }

  @media (min-width: 56.25em) {
    h2 {
      font-size: 2.25em;
      /* 2.25x body copy size = 36px */
      line-height: 1.25;
    }
  }

  h3 {
		font-family: 'Open Sans', sans-serif;
    font-size: 1.375em;
		font-weight: normal;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
  }

  @media (min-width: 43.75em) {
    h3 {
      font-size: 1.5em;
      /* 1.5x body copy size = 24px */
      line-height: 1.25;
    }
  }

  @media (min-width: 56.25em) {
    h3 {
      font-size: 1.75em;
      /* 1.75x body copy size = 28px */
      line-height: 1.25;
    }
  }

  h4 {
    font-size: 1.125em;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111;
  }

  @media (min-width: 43.75em) {
    h4 {
      line-height: 1.22222222;
      /* (22px / 18px */
    }
  }

  blockquote {
    font-size: 1.25em;
    /* 20px / 16px */
    line-height: 1.25;
    /* 25px / 20px */
  }

  @media (min-width: 43.75em) {
    blockquote {
      font-size: 1.5em;
      /* 24px / 16px = */
      line-height: 1.45833333;
      /* 35px / 24px */
    }
  }
p {
  position: relative;
  top:1.5em;
}

/*============= GLOBAL =============*/

html {
background: url(/app/images/book-stacks-light-cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background-color: #0000;
  height: 100vh;
	overflow-x: hidden;
	width:100vw;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

/* Flex Containers */

.full-width-row {
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display:flex;
	justify-content: flex-start;
}


.row,
.social-bar,
.social-bar>ul,
#content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
}

#wrapper,
.full-width-row,
 {
	height: 100%;
	width:100%;
}

.row {
flex: 1 100%;
flex-flow: column nowrap;
height:100%;
justify-content: center;
padding-left:4%;
padding-right:40%;
}

/*Break when text overflows over the books image @ 476px*/
  @media (min-width: 29.75em){
    .row {
      padding-right:46%;
    }
}


/*============= Component Styles =============*/


.btn {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #42a681;
    color:#fff;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin:40px 0;
    padding: .78571429em 1.5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
      transition: all .3s;
}

  .btn:hover {
    font-weight: 900;
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .btn:active {
    background: #42a681;
    border: 1px solid #42a681;
    color: #fff;
  }

/*============= Content Section =============*/

#content {
  align-items: flex-start;
  flex-flow: column nowrap;
}
h1 {
  border-bottom: 10px solid #42a681;
  padding-bottom: 20px;
}

/*p {
  border-top: 10px solid #3498DB
  padding-bottom: 0px;
}*/

.social-bar {
    border-left:10px solid #3498DB
    flex-flow: row wrap;
    width:100%;
}
  /*@media (min-width: )*/

  .social-bar>ul {
    align-items:flex-end;
    display: inline-flex;
    flex-flow: row wrap;
    width:100%;
  }

    .social-bar>ul>li {
      margin-right: 3%;
    }

      .social-icons>ul>li:nth-last-of-type(1) {
        margin-right:0px;
      }

    .social-icons>figure>img {
      max-width: 30px;
      height:auto;
      max-height:36px;
      opacity: .3;
      transition: .3s ease-in-out;
      transform: scale(1);
        -webkit-transform: scale(1);
        -webkit-transition: .3s ease-in-out;

    }
      /*animations*/
      .social-icons>figure:hover img {
      opacity: 1;
	    transform: scale(1.3);
        -webkit-transform: scale(1.3);

     }
